.pagination {
  margin-top: 48px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.pagination button {
  background: #201e27;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background: #5931ac;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.dots {
  color: #aaa;
  padding: 0 6px;
}
